.dogs {
  margin-top: 10px;
  margin-bottom: 5px;
  height: fit-content;
}

img {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 5px;
}

.words {
  display: flex;
  justify-content: center;
  margin: auto;
  font-weight: bolder;
  color: teal;
  letter-spacing: 2.5px;
}
